@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hej Välkommen till Spelet, välj svårighetsgrad. Normal är 7 gissningar Hard är 6 gissningar.</h1>
</div>

<div>
    @Html.ActionLink("Hard", "HardGame", "Home")
    @Html.ActionLink("Normal", "NormalGame","Home")
</div>