@model WebApplication1.Models.NumberViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index Guesscontroller</h2>
<h4>Gissningar @Model.GuessCount()</h4>
@using (Html.BeginForm()) 
{
    @Html.TextBox("Guess")
    <input type="submit" value="Create" />
    
    
}
<div>
    @Model.LastGuessedNumber()
</div>
   
        
   


